layout {
    pane {
        command "pnpm"
        args "db:status"
    }
    pane {
        command "pnpm"
        args "dev:admin"
    }
    pane {
        command "pnpm"
        args "dev:api"
    }
    pane {
        command "pnpm"
        args "dev:example"
    }
    pane {
        command "pnpm"
        args "dev:ghommerce"
    }
    pane // panes can be bare
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
